In [1]:
# Variables

In [2]:
x = 2
y = 10.5

name = "gowtham"

In [3]:
# Variables are illegal if you use spaces or hyphen or if it starts with a number or all at the same time

In [4]:
var name = 5

var-name = 10

2varname = 15

SyntaxError: invalid syntax (<ipython-input-4-6b7578f800c8>, line 1)

In [5]:
# Variables can contain underscore, it can even begin with an underscore

In [6]:
_varname = 5

var_name = 10

varname_ = 15

In [7]:
# You can assign multiple values in a single line
x, y, name = 10, 16, "gowtham"           # values for all three variables are being assigned

In [9]:
# Cases of variables
VarName = 10     # Pascal Case - The first letter of the variable name is in capital (capitalised)
varName = 15     # Camel Case - The first letter of the variable name is in small letter
var_name = 20    # Snake Case - The variable name is seperated with an underscore

In [10]:
# Operators

In [11]:
# Arithmetic Operators

In [12]:
x = 4
y = 2

add   = x + y
minus = x - y
multiply = x * y
division = x / y
exponentiation = x ** y

In [15]:
# The stuff that is new for you guys is

modulus = x % y
floor_divison = x // y

In [16]:
# Assignment Operator

In [23]:
x = 20

x += 5 # x = x + 5

In [18]:
x

10

In [19]:
# There are many assignment operators, placing an 'equal to' sign before any operator simply means that the operation is being performed on that particular variable itself

In [24]:
x -= 2
x *= 3
x /= 3
x **= 2
x //= 2
x %= 2

In [27]:
# Comparison Operators

# Used to compare two values

In [28]:
x = 5
y = 10

x == y   # If x is equal to y

False

In [29]:
x != y   # If x not equal to y

True

In [30]:
# Some of the other comparison operators
x > y
x < y
x >= y
x <= y

True

In [33]:
# Logical Operators - and, or, not

# These are the operators that you would have come across in discrete mathematics

In [34]:
x = 5
y = 10

x == 5 and y == 10

True

In [35]:
x == 2 or y > 5

True

In [36]:
not(x == 5 and y == 10)

False

In [37]:
# Identity Operators  - is, is not
# They are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

In [43]:
# 
a = "gowtham"
b = "gowtham"
c = a

In [ ]:
# Membership operator - in, not in
# They are used to check if an element is present in a sequence type object/type or not

In [45]:
# Built in Data Structure (or Data Types) of Python

In [46]:
# Lists
# They contain multiple values of different types
# List items are ordered, changeable, and allow duplicate values.
# List items are indexed, the first item has index [0], the second item has index [1] etc.
# They are basically matrices

In [47]:
list1 = [1, 2, 3, 4]

list2 = [1, 2, 3, "gowtham"]

In [48]:
# index value of list always start with 0

In [49]:
list1[0]

1

In [58]:
# we can get a range of values from list, list1[0:n] where n cannot exceed the length of the list

In [51]:
list1[0:4]

[1, 2, 3, 4]

In [52]:
list1[0:len(list1)]

[1, 2, 3, 4]

In [53]:
# We can give negative values as well, the last element in a list has an index value of -1 when we traverse in reverse

In [61]:
list1[-3:-1]

[2, 3]

In [62]:
# Change list items by accessing the index or the range
list1[0] = 10
list1

[10, 2, 3, 4]

In [63]:
list1.insert(4, 55)
list1

[10, 2, 3, 4, 55]

In [64]:
list1.append(65)
list1

[10, 2, 3, 4, 55, 65]

In [65]:
# Removing elements from list
# del, pop - takes in index values
# Remove - takes in the values itself

In [66]:
list1.remove(55)

In [67]:
list1

[10, 2, 3, 4, 65]

In [68]:
# pop function removes the last element of the list unless specified with an index

In [69]:
list1.pop()
list1.pop(1)

2

In [70]:
list1

[10, 3, 4]

In [71]:
del list1[0] # to delete the first value in the list

In [74]:
# Tuples
# Exactly like lists but they are immutable - meaning cannot be changed

In [79]:
tuple1 = (1, 2, 3, "gowtham", "gowtham")

In [80]:
tuple1[0:6]

(1, 2, 3, 'gowtham', 'gowtham')

In [78]:
# Sets
# They are unordered and unchangeable, they are the same as tuples but do not allow duplicated value

In [83]:
set1 = {1, 2, 3, "gowtham", "gowtham"}

In [84]:
set1

{1, 2, 3, 'gowtham'}

In [86]:
# Dictionary
# Works in Key-Value pair

In [114]:
dict1 = {"name":"gowtham", "age":23, "marks":[1,2,3]}

In [88]:
dict1

{'name': 'gowtham', 'age': 23, 3: 99}

In [95]:
for x in dict1.keys():
    print(dict1[x])

gowtham
23
99

In [96]:
dict1[3] = 100

In [97]:
dict1

{'name': 'gowtham', 'age': 23, 3: 100}

In [103]:
i = 0
while i<len(list2):
    print(list2[i])
    i = i + 1

1
2
3
gowtham

In [104]:
for x in list2:
    print(x)

1
2
3
gowtham

In [105]:
list11 = [1, 2, 3]
list12 = [1, 2, 3]
list13 = list11

list11 == list12

True

In [106]:
list11 is list12

False

In [108]:
list13 == list11

True

In [113]:
xx = 10
print("The value is {1}\n{0}".format(xx, y), end=" ")

The value is 10
10

In [115]:
dict1['marks'][0]

1

In [126]:
def add(a, b):
    c = a+b
    return c

In [127]:
add(1, 2)

3

In [146]:
set23 = {1, [5, 6, 7, 8, 9]}

TypeError: unhashable type: 'list'

In [144]:
set1.update(set23)

In [145]:
set1

{1, 2, 3, 5, 6, 7, 8, 9, 'gowtham'}

In [134]:
x = 11
y = 10
if(x == 10 and y == 10):
    print("A")
elif x == 9 or y == 10:
    print("B")
else:
    print("C")

B

In [154]:
i = 0
while i<11:
    i = i+1
    if i == 3:
        continue
    print(i)

1
2
4
5
6
7
8
9
10
11

In [152]:
i = 0
for i in range(0,  10):
    if i == 3:
        continue
    print(i)

0
1
2
4
5
6
7
8
9

In [156]:
n = eval(input("enter the no of terms required: "))
a = 0
b =1
print(a)
print(b)
for i in range(3,n+1):
         c = a+b;
         print(c)
         a=b
         b=c

enter the no of terms required: 10
0
1
1
2
3
5
8
13
21
34

In [157]:
i=int(input("Enter the no. of term:-"))
a=[]
for n in range(0,i):
    if n==0:
        a.append(0)
    elif n==1:
        a.append(1)
    else:
        a.append(a[n-1]+a[n-2])
print(a)

Enter the no. of term:-10
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [166]:
str1 = "hello.py"

In [165]:
str1[:-1]

'hell'

In [168]:
str1.split('.')

['hello', 'py']

In [172]:
def prinn(nu):
    for i in range(x):
        print(i)
        return

prinn(10)

0

In [173]:
# Functions

In [5]:
def recur(num):
    if(num > 0):
        result = num + recur(num-1)
    else:
        result = 0
    return result

recur(5)

15

In [185]:
def add(a, b):
    c = a+b
    print(f"c: {c}")
    return c

result = add(5, 6)
print(result)

c: 11
11

In [9]:
def fact(num):
    if num>0:
        result = num * fact(num-1)
    else:
        result = 1
    return result
fact(4)

24

In [10]:
w=input("Enter a string ")
def most_frequent(string): 

  d=dict() 
  for key in string:


    if key not in d:
        d[key] = 1

  else:
     d[key] += 1

  return d
print ( most_frequent ('aabbc'))

Enter a string sssssssssssq
{'a': 1, 'b': 1, 'c': 2}